/* Home.module.css */

/* ヘッダセクションのスタイリング */
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; 
  padding-bottom: 50px;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.headerContent {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #f7f7f7;
  padding: 60px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.sectionTitle {
  font-size: 3rem; /* フォントサイズを大きく調整 */
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.headerText {
  font-size: 1.25rem;
  line-height: 1.8;
  color: #000000;
  margin-bottom: 30px;
}

.headerButton {
  border-radius: 15px;
  background-color: #b80000;
  color: #f7f7f7;
  border-color: #b80000;
  padding: 15px 30px;
  font-size: 1rem;
}

.headerButton:hover {
  background-color: #ff3333; /* ホバー時の背景色を明るい赤に変更 */
  border-color: #ff3333; /* ホバー時のボーダー色も同様に変更 */
  color: white; /* テキストは白のまま */
}

.headerButton:active {
  /* クリック時のスタイル */
  background-color: #ff0000; /* クリック時の赤色 */
}

/* ナビゲーションバーのスタイリング */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1a1a1a;
  z-index: 2;
  padding: 10px 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  color: #b80000; /* ホバー時に赤くなる */
}

/* セクション間の赤いライン */
.sectionBorder {
  width: 100%;
  height: 2px;
  background-color: #b80000;
  margin: 30px 0;
}

/* ContentSectionのスタイル */
.content {
  padding: 60px 20px;
  background-color: #f7f7f7;
  text-align: center; /* 中央揃え */
}

.content p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  max-width: 800px; /* 最大幅を設定してテキストを読みやすく */
  margin: 0 auto 20px auto; /* 中央揃え */
}

.content strong {
  color: #b80000; /* 強調したい部分を赤色に */
}

.swiperBox {
  display: flex;
  justify-content: center; /* 水平方向に中央寄せ */
  align-items: center; /* 垂直方向に中央寄せ */
  width: 100%;
  height: 100%; /* 必要に応じて高さを100%に設定 */
  max-width: 90%; /* デフォルトで最大幅を90%に */
  margin: 0 auto; /* コンテンツを中央に配置 */
  background-color: #f5f5f5; 
  padding: 10px;
}

.swiperBox img {
  max-width: 100%; /* 親要素の幅にフィット */
  height: auto;
  object-fit: cover; /* アスペクト比を保ちながらサイズを調整 */
  border-radius: 8px; /* デザインの一部として角を少し丸める */
}

.swiper-slide {
  background-color: #f5f5f5; /* スライドごとの背景色を調整 */
}

/* 矢印ボタンのスタイル */
.swiper-button-next, .swiper-button-prev {
  width: 3rem;  /* vwからremに変更 */
  height: 3rem;
  color: #000;  /* 矢印の色を設定 */
}

/* スライダー矢印の位置調整 */
.swiper-button-next {
  right: 2vw;  /* 右から2%の位置に配置 */
}

.swiper-button-prev {
  left: 2vw;  /* 左から2%の位置に配置 */
}

.footer {
  background-color: #f8f9fa; /* 背景色をライトカラーに設定 */
  text-align: center;
  padding: 20px;
}

.text {
  font-size: 1.5rem; /* デフォルトのフォントサイズ */
  margin-bottom: 10px;
}

.iconLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* アイコンとテキストの間のスペース */
}

.instagramIcon {
  display: inline-block;
  vertical-align: middle;
}

.username {
  font-size: 1.2rem;
  margin-top: 10px;
}

.container {
  padding: 2rem;
}

.contentHead {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px; /* 上のセクションとのスペースを追加 */
}

.mainTitle {
  font-size: 24px;
  font-weight: bold;
}

/* グリッド表示用のスタイル */
.gridContainer {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.imageContainer {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.image {
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.1); /* 画像を少し拡大 */
}

.cardContent {
  padding: 16px;
  flex-grow: 1; /* 内容部分がカード全体に広がるようにする */
}

.buttonContainer {
  text-align: center;
  margin-top: auto; /* ボタンを下に配置 */
}

.toggleButton {
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #3182ce;
  color: white;
  cursor: pointer;
  border: none;
}

.toggleButton:hover {
  background-color: #2c5282;
}

.dialog {
  margin-top: 10px;
}

.link {
  color: #3182ce;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.ttl {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .headerText,
  .content p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .headerButton {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .navbar {
    display: none;
  }

  .swiper-button-next, .swiper-button-prev {
    width: 8vw;  /* ビューポート幅が小さい時に少し大きく */
    height: 8vw;
  }

  .swiper-button-next {
    right: 10vw;  /* 画面幅が小さい場合の右の位置 */
  }

  .swiper-button-prev {
    left: 10vw;  /* 画面幅が小さい場合の左の位置 */
  }

  .text {
    font-size: 1.2rem;
  }
  .username {
    font-size: 1rem;
  }
  .instagramIcon, .iconLink img {
    width: 30px;
    height: 30px;
  }

}




@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }

  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
  
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }

  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }

  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #f7f7f7;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #f7f7f7;
  }

  .swiperBox {
    max-width: 600px; /* タブレット以上の画面では最大幅を600pxに制限 */
  }
  
  .navbar {
    border-radius: 4px;
  }

  .navbar-header {
    float: left;
  }

  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }

  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }

  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  
  .navbar-static-top {
    border-radius: 0;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }

  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .form-control-static {
    display: inline-block;
  }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }

  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }

  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
  .text {
    font-size: 1.2rem;
  }
  .username {
    font-size: 1.2rem;
  }
  .instagramIcon, .iconLink img {
    width: 40px;
    height: 40px;
  }
}

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}


@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }

  .navbar-form .form-group {
    margin-bottom: 5px;
  }
  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }

  @media (min-width: 1200px) {
    .swiperBox {
      max-width: 800px; /* 大きなデスクトップ画面では最大幅を800pxに */
    }
    .text {
      font-size: 2rem;
    }
    .username {
      font-size: 1.5rem;
    }
    .instagramIcon, .iconLink img {
      width: 50px;
      height: 50px;
    }
  }
}