/* Home.module.css */

/* ヘッダセクションのスタイリング */
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a; /* 背景色を黒っぽく設定 */
  padding-bottom: 50px;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.headerContent {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding: 60px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.sectionTitle {
  font-size: 3rem; /* フォントサイズを大きく調整 */
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.headerText {
  font-size: 1.25rem;
  line-height: 1.8;
  color: #ddd;
  margin-bottom: 30px;
}

.headerButton {
  border-radius: 15px;
  background-color: #b80000;
  color: white;
  border-color: #b80000;
  padding: 15px 30px;
  font-size: 1rem;
}

.headerButton:hover {
  background-color: #ff3333; /* ホバー時の背景色を明るい赤に変更 */
  border-color: #ff3333; /* ホバー時のボーダー色も同様に変更 */
  color: white; /* テキストは白のまま */
}

/* ナビゲーションバーのスタイリング */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1a1a1a;
  z-index: 2;
  padding: 10px 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  color: #b80000; /* ホバー時に赤くなる */
}

/* セクション間の赤いライン */
.sectionBorder {
  width: 100%;
  height: 2px;
  background-color: #b80000;
  margin: 30px 0;
}

/* ContentSectionのスタイル */
.content {
  padding: 60px 20px;
  background-color: #f7f7f7;
  text-align: center; /* 中央揃え */
}

.content p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  max-width: 800px; /* 最大幅を設定してテキストを読みやすく */
  margin: 0 auto 20px auto; /* 中央揃え */
}

.content strong {
  color: #b80000; /* 強調したい部分を赤色に */
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .headerText,
  .content p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .headerButton {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .navbar {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .header {
    text-align: center;
  }

  .headerButton {
    width: 100%;
    font-size: 14px;
  }
}
